[submodule "themescactus"]
	path = themescactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
[submodule "themes/cactus"]
	path = themes/cactus
	url = git@github.com:nuwandavek/hugo-theme-cactus.git
[submodule "build"]
	path = build
	url = git@github.com:nuwandavek/nuwandavek.github.io.git
